<!DOCTYPE html>
<html>
	<!-- external -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- local -->
	<script src="utils.js"></script>
	<script src="data.js"></script>
	<script src="MainControllerHelper.js"></script>

	<script>
		// HTTP request URLs
		var weeklyChartUrlFormat = "http://stockcharts.com/c-sc/sc?s={0}&p=W&st={1}&en={2}&i=p03109540830&";
		var dailyChartUrlFormat = "http://c.stockcharts.com/c-sc/sc?s={0}&p=D&st={1}&en={2}&i=p4936567059c";
		var simulateUrlFormat = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={0}&outputsize=full&apikey=FLKE8SVF0TUQ08I7";
		var backendInsertUrlFormat = "http://tradeschool.gearhostpreview.com/backend/insert.php?symbol={0}&date_time={1}&entry_price={2}&exit_price={3}";

		angular.module('TradeSchoolApp', []).controller('MainController', ['$scope', '$http', function($scope, $http) {
			$scope.init = function() {
				$scope.symbol = 'AAPL';
				$scope.weeklyChartUrl = '';
				$scope.dailyChartUrl = '';
			}

			$scope.fieldKeyPress = function(event) {
				if (event.keyCode == 13) {
	 				$scope.render();
	 			}
			};

			$scope.setDates = function(dateStr) {
				$scope.toDate = dateStr;
				$scope.weeklyFromDate = utils.getAddedDaysStr(dateStr, -356);
				$scope.dailyFromDate = utils.getAddedDaysStr(dateStr, -90);
			};

			$scope.today = function() {
				var todayStr = utils.dateToStr(new Date());
				$scope.setDates(todayStr);
				$scope.render();
			};

			$scope.randomSymbolAndTime = function() {
				// symbol
				var array = data.symbols_1M;
				var randIdx = utils.getRandomInt(array.length);
				$scope.symbol = array[randIdx];

				// time
				var now = new Date().getTime();
				var max = now - 1 * utils.YEAR_MILLISECONDS;
				var min = now - 19 * utils.YEAR_MILLISECONDS;
				var rand = utils.getRandomIntMinMax(min, max);

				var dateStr = utils.dateToStr(new Date(rand));
				$scope.setDates(dateStr);
				$scope.render();
			};

			$scope.moveForDays = function(day) {
				$scope.weeklyFromDate = utils.getAddedDaysStr($scope.weeklyFromDate, day);
				$scope.dailyFromDate = utils.getAddedDaysStr($scope.dailyFromDate, day);
				$scope.toDate = utils.getAddedDaysStr($scope.toDate, day);
				$scope.render();
			};
			$scope.render = function() {
				$scope.weeklyChartUrl = weeklyChartUrlFormat.format($scope.symbol, $scope.weeklyFromDate, $scope.toDate);
				$scope.dailyChartUrl = dailyChartUrlFormat.format($scope.symbol, $scope.dailyFromDate, $scope.toDate);
				$scope.dayName = utils.getDayName($scope.toDate);
			};

			$scope.simulate = function() {
				var symbol = $scope.symbol;
				var entry = $scope.entry;
				var target = $scope.target;
				var stop = $scope.stop;

				$http({
				  method: "GET",
				  url: simulateUrlFormat.format($scope.symbol)
				}).then(function successCallback(response) {
					var seriesSrc = response.data["Time Series (Daily)"];
					var series = mainControllerHelper.readStockValues(seriesSrc, $scope.toDate);

					for (var i = series.length - 1; i >= 0; i--) {
						console.log(series[i]);
						var date = series[i]["date"];
						var low = series[i]["low"];
						var high = series[i]["high"];
						
						if (low <= stop) {
							$scope.setSimulateResult("LOOSE", symbol, entry, low, date);
							return;
						} else if (high >= target) {
							$scope.setSimulateResult("WIN", symbol, entry, high, date);
							return;
						}
					}

					$scope.setSimulateResult("NO_FIND", null, null);
				});
			};
			$scope.setSimulateResult = function(result, symbol, entry, exit, date) {
				var text = "result: {0} exit: {1} date: {2}".format(result, exit, date);
				$scope.simulateResultText = text;

				$scope.insertIntoDatabase(symbol, date, entry, exit);
			};
			$scope.insertIntoDatabase = function(symbol, dateTime, entryPrice, exitPrice) {
				$http({
					method: "GET",
					url: backendInsertUrlFormat.format(symbol, dateTime, entryPrice, exitPrice)
				}).then(function successCallback(response) {
					console.log(response);
				});
			};

			$scope.init();
		}]);
	</script>

	<body ng-app="TradeSchoolApp">

		<div ng-controller="MainController">
		 	
		 	<form class="form-inline">
			 	<label for="symbol">Symbol:</label>
			 	<input type="text" class="form-control" id="symbol" ng-model="symbol" ng-keypress="fieldKeyPress($event)" />

				<button type="button" class="btn btn-info" ng-click="today()">Today</button>
				<button type="button" class="btn btn-info" ng-click="randomSymbolAndTime()">Random</button>

				<button type="button" class="btn btn-default" ng-click="moveForDays(-1)">-1D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+1)">+1D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(-7)">-7D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+7)">+7D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(-30)">-30D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+30)">+30D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(-90)">-90D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+90)">+90D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(-180)">-180D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+180)">+180D</button>

			</form>

			<form class="form-inline">
				<label for="weeklyFromDate">From (W):</label>
				<input type="text" class="form-control" id="weeklyFromDate" ng-model="weeklyFromDate" ng-keypress="fieldKeyPress($event)" />

				<label for="dailyFromDate">From (D):</label>
				<input type="text" class="form-control" id="dailyFromDate" ng-model="dailyFromDate" ng-keypress="fieldKeyPress($event)" />

				<label for="toDate">To:</label>
				<input type="text" class="form-control" id="toDate" ng-model="toDate" ng-keypress="fieldKeyPress($event)" />

				<strong>{{ dayName }}</strong>
			</form>

			<form class="form-inline">
				<label for="entry">Entry:</label>
				<input type="text" class="form-control" id="entry" ng-model="entry" />

				<label for="stop">Stop:</label>
				<input type="text" class="form-control" id="stop" ng-model="stop" />

				<label for="target">Target:</label>
				<input type="text" class="form-control" id="target" ng-model="target" />

				<button type="button" class="btn btn-info" ng-click="simulate()">Simulate</button>

				<strong>{{ simulateResultText }}</strong>
			</form>

			<img src="{{ weeklyChartUrl }}" />
			<img src="{{ dailyChartUrl }}" />

		</div>

	</body>
</html>
