<!DOCTYPE html>
<html>
	<head>
		<title>Trade School</title>
	</head>

	<!-- external -->
	<script src="lib/angular-1.6.9.min.js"></script>
	<link rel="stylesheet" href="lib/bootstrap-3.3.7.min.css">
	<script src="lib/jquery-3.3.1.min.js"></script>
	<script src="lib/bootstrap-3.3.7.min.js"></script>

	<!-- local -->
	<script src="utils.js"></script>
	<script src="data.js"></script>
	<script src="MainControllerHelper.js"></script>

	<script>
		// HTTP request URLs
		var weeklyChartUrlFormat = "http://c.stockcharts.com/c-sc/sc?s={0}&p=W&st={1}&en={2}&i=p9822565786c";
		var dailyChartUrlFormat = "http://c.stockcharts.com/c-sc/sc?s={0}&p=D&st={1}&en={2}&i=p7343648708c";
		var simulateUrlFormat = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={0}&outputsize=full&apikey=FLKE8SVF0TUQ08I7";
		var backendInsertUrlFormat = "http://tradeschool.gearhostpreview.com/backend/insert.php?symbol={0}&date_time={1}&entry_price={2}&exit_price={3}";

		angular.module('TradeSchoolApp', []).controller('MainController', ['$scope', '$http', function($scope, $http) {
			$scope.init = function() {
				$scope.symbol = 'AAPL';
				$scope.weeklyChartUrl = '';
				$scope.dailyChartUrl = '';

				$scope.positionStats = {
					stopPercent: "",
					targetPercent: "",
					ratio: "",
					cssClass: "alert-success"
				};
			}

			$scope.fieldKeyPress = function(event) {
				if (event.keyCode == 13) {
	 				$scope.render();
	 			}
			};

			$scope.setDates = function(dateStr) {
				$scope.toDate = dateStr;
				$scope.weeklyFromDate = utils.getAddedDaysStr(dateStr, -356);
				$scope.dailyFromDate = utils.getAddedDaysStr(dateStr, -90);
			};

			$scope.today = function() {
				var todayStr = utils.dateToStr(new Date());
				$scope.setDates(todayStr);
				$scope.render();
			};

			// pick a random symbol and time frame
			$scope.randomSymbolAndTime = function() {
				// symbol
				var array = data.symbols_1M;
				var randIdx = utils.getRandomInt(array.length);
				$scope.symbol = array[randIdx];

				// time
				var now = new Date().getTime();
				var max = now - 1 * utils.YEAR_MILLISECONDS;
				var min = now - 19 * utils.YEAR_MILLISECONDS;
				var rand = utils.getRandomIntMinMax(min, max);

				var dateStr = utils.dateToStr(new Date(rand));
				$scope.setDates(dateStr);
				$scope.render();
			};

			$scope.moveForDays = function(day) {
				$scope.weeklyFromDate = utils.getAddedDaysStr($scope.weeklyFromDate, day);
				$scope.dailyFromDate = utils.getAddedDaysStr($scope.dailyFromDate, day);
				$scope.toDate = utils.getAddedDaysStr($scope.toDate, day);
				$scope.render();
			};
			$scope.render = function() {
				$scope.weeklyChartUrl = weeklyChartUrlFormat.format($scope.symbol, $scope.weeklyFromDate, $scope.toDate);
				$scope.dailyChartUrl = dailyChartUrlFormat.format($scope.symbol, $scope.dailyFromDate, $scope.toDate);
				$scope.dayName = utils.getDayName($scope.toDate);
			};

			$scope.clearSimulateFields = function() {
				$scope.entry = "";
				$scope.stop = "";
				$scope.target = "";
				$scope.exit = "";
			};
			// do some calculations based on simulate fields (e.g. stop and target percentage, ratio)
			$scope.simulateFieldsKeyPress = function() {
				var entry = parseFloat($scope.entry);
				var stop = parseFloat($scope.stop);
				var target = parseFloat($scope.target);

				var stopPercent = "";
				var targetPercent = "";
				var ratio = "";

				if (!isNaN(entry) && !isNaN(stop)) {
					if (entry != 0) {
						stopPercent = (entry - stop) / entry * 100.0;
					}	
				}
				if (!isNaN(entry) && !isNaN(target)) {
					if (entry != 0) {
						targetPercent = (target - entry) / entry * 100.0;
					}
				}
				if (!isNaN(entry) && !isNaN(stop) && !isNaN(target)) {
					if (entry - stop != 0) {
						ratio = (target - entry) / (entry - stop);
					}
				}

				if (stopPercent != "") {
					stopPercent = utils.round(stopPercent, 2);
					stopPercent = "-" + stopPercent + "%";
				}
				if (targetPercent != "") {
					targetPercent = utils.round(targetPercent, 2);
					targetPercent += "%";
				}
				if (ratio != "") {
					ratio = utils.round(ratio, 2);

					if (ratio >= 2) {
						$scope.positionStats.cssClass = "alert-success";
					} else {
						$scope.positionStats.cssClass = "alert-danger";
					}
				}

				$scope.positionStats.stopPercent = stopPercent;
				$scope.positionStats.targetPercent = targetPercent;
				$scope.positionStats.ratio = ratio;
			};
			// simulate trade and store the outcome into the DB
			$scope.simulate = function() {
				var symbol = $scope.symbol;
				var entry = $scope.entry;
				var target = $scope.target;
				var stop = $scope.stop;

				$http({
				  method: "GET",
				  url: simulateUrlFormat.format($scope.symbol)
				}).then(function successCallback(response) {
					var seriesSrc = response.data["Time Series (Daily)"];
					var series = mainControllerHelper.readStockValues(seriesSrc, $scope.toDate);

					for (var i = series.length - 1; i >= 0; i--) {
						console.log(series[i]);
						var date = series[i]["date"];
						var low = series[i]["low"];
						var high = series[i]["high"];
						
						if (low <= stop) {
							$scope.setSimulateResult("LOOSE", true, symbol, entry, low, date);
							return;
						} else if (high >= target) {
							$scope.setSimulateResult("WIN", true, symbol, entry, high, date);
							return;
						}
					}

					$scope.setSimulateResult("NO_FIND", false, null, null, null, null);
				});
			};
			// show simulate results and store values into DB
			$scope.setSimulateResult = function(result, insertDb, symbol, entry, exit, date) {
				var text = "result: {0} exit: {1} date: {2}".format(result, exit, date);
				$scope.simulateResultText = text;

				if (insertDb) {
					$scope.insertIntoDatabase(symbol, date, entry, exit);
				}
			};
			// store manual fields for simulating trade into the DB
			$scope.manual = function() {
				var symbol = $scope.symbol;
				var date = utils.dateToStrFull(new Date());
				var entry = $scope.entry;
				var exit = $scope.exit;

				$scope.insertIntoDatabase(symbol, date, entry, exit);
			};
			// insert trade values into the DB
			$scope.insertIntoDatabase = function(symbol, dateTime, entryPrice, exitPrice) {
				$http({
					method: "GET",
					url: backendInsertUrlFormat.format(symbol, dateTime, entryPrice, exitPrice)
				}).then(function successCallback(response) {
					console.log(response);
				});
			};

			$scope.init();
		}]);
	</script>

	<body ng-app="TradeSchoolApp">

		<div ng-controller="MainController">
		 	
		 	<form class="form-inline">
			 	<label for="symbol">Symbol:</label>
			 	<input type="text" class="form-control" id="symbol" ng-model="symbol" ng-keypress="fieldKeyPress($event)" />

				<button type="button" class="btn btn-info" ng-click="today()">Today</button>
				<button type="button" class="btn btn-info" ng-click="randomSymbolAndTime()">Random</button>

				<button type="button" class="btn btn-default" ng-click="moveForDays(-1)">-1D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+1)">+1D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(-7)">-7D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+7)">+7D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(-30)">-30D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+30)">+30D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(-90)">-90D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+90)">+90D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(-180)">-180D</button>
				<button type="button" class="btn btn-default" ng-click="moveForDays(+180)">+180D</button>

			</form>

			<form class="form-inline">
				<label for="weeklyFromDate">From (W):</label>
				<input type="text" class="form-control" id="weeklyFromDate" ng-model="weeklyFromDate" ng-keypress="fieldKeyPress($event)" />

				<label for="dailyFromDate">From (D):</label>
				<input type="text" class="form-control" id="dailyFromDate" ng-model="dailyFromDate" ng-keypress="fieldKeyPress($event)" />

				<label for="toDate">To:</label>
				<input type="text" class="form-control" id="toDate" ng-model="toDate" ng-keypress="fieldKeyPress($event)" />

				<strong>{{ dayName }}</strong>
			</form>

			<hr />

			<form class="form-inline">
				<div class="row">
					<div class="col-sm-1">
						<button type="button" class="btn btn-info" ng-click="clearSimulateFields()">Clear</button>
					</div>

					<div class="col-sm-4">
						<div class="alert {{ positionStats.cssClass }}" role="alert">
							Stop: {{ positionStats.stopPercent }} Target: {{ positionStats.targetPercent }} Ratio: {{ positionStats.ratio }}
						</div>
					</div>
				</div>
			</form>

			<form class="form-inline">
				<label for="entry">Entry:</label>
				<input type="text" class="form-control" id="entry" ng-model="entry" ng-change="simulateFieldsKeyPress()" />

				<label for="stop">Stop:</label>
				<input type="text" class="form-control" id="stop" ng-model="stop" ng-change="simulateFieldsKeyPress()" />

				<label for="target">Target:</label>
				<input type="text" class="form-control" id="target" ng-model="target" ng-change="simulateFieldsKeyPress()" />

				<button type="button" class="btn btn-info" ng-click="simulate()">Simulate</button>

				<strong>{{ simulateResultText }}</strong>
			</form>

			<form class="form-inline">
				<label for="exit">Exit:</label>
				<input type="text" class="form-control" id="exit" ng-model="exit" />

				<button type="button" class="btn btn-info" ng-click="manual()">Manual</button>
			</form>

			<hr />

			<img src="{{ weeklyChartUrl }}" />
			<img src="{{ dailyChartUrl }}" />

		</div>

	</body>
</html>
